.color {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius:50px;
}

.colorGreen {
    background-color: green;
}

.colorRed {
    background-color: red;
}

.colorBlue {
    background-color: blue;
}
